html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0px;
}

#map {
  height: 100%;
  flex-grow: 1;
  border: solid 1px;
  box-sizing: border-box;
}

#sidebar {
  height: 100%;
  flex-basis: 400px;
  border: solid 1px;
  box-sizing: border-box;
  overflow-y: auto;
  padding-bottom: 15px;
}